/* line styles */
.axis path,
.axis line { 
	fill: none;
	stroke: #333;
	shape-rendering: crispEdges;
}
/* labels */
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.tooltip {
    position: absolute;
    background-color: darkslategray;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
	font-size: 11px;
    padding: 2px; 
  }